
body {
  margin: 0;
  text-align: center;
  font-family: 'Caladea', serif;
  color: #7e6752;
  
} 


div {
  background-color:#f4eec0;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Parisienne', cursive;
  color: #2eb872;
  font-size: 4.6875rem;
}

h2 {
  font-family: 'Berkshire Swash', cursive;
  color: #61b292;
  font-size: 1.75rem;
}


h3 {
  font-family: 'Philosopher', sans-serif;
  color: #aed09e;
  font-size: 1.1875rem;
}

h4 {
  font-size: 1.1875rem;
}
.Top-container {
  background-color:#f4eec0;
  position: relative;
  padding-top: 140px; 
  padding-bottom: 30px;
}

.middle-container {
  padding-top: 73px;
  padding-bottom: 35px;
}

.bottom-container {
padding: 40px 0 20px;
background-color: #2d8a5b;
}

.black-man {
  margin-bottom: 20px;
}

.beg {
  text-decoration: underline;
}

.bottom-cloud {
  position: absolute;
  left: 180px;
  top: 230px;
}

.top-cloud {
  position: absolute;
  right: 180px;
  bottom: 670px;
}
.mountain {
  position: relative;
  top: 30px;
}

.contact-message {
  width: 70%;
  margin: 40px auto 60px;
}

a {
  color: #8ec774;
  font-family: 'Berkshire Swash', cursive;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color:  #f4eec0;
}

.skill-row {
  width: 50%;
  margin: 75px auto 75px auto;
  text-align: left;
  line-height:1.25rem;
}

.learning-code {
float: left;
}

hr {
  border-style: none;
    border-top-style: dotted;
    border-color: #438a7f;
    border-width: 4px;
    width: 60px;
    margin-top: 150px;
    margin-bottom: 120px;
    
    

}

.name {
  color: #c9f8b3;
  padding: 20px 0;
  font-size: .95rem;
}

.brownbutton {
  background: #2EB872;
  background-image: -webkit-linear-gradient(top, #2EB872, #2D8A5B);
  background-image: -moz-linear-gradient(top, #2EB872, #2D8A5B);
  background-image: -ms-linear-gradient(top, #2EB872, #2D8A5B);
  background-image: -o-linear-gradient(top, #2EB872, #2D8A5B);
  background-image: -webkit-gradient(to bottom, #2EB872, #2D8A5B);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #7E6752;
  font-family: Garamond;
  font-size: 17px;
  font-weight: 700;
  padding: 12px;
  -webkit-box-shadow: 1px 1px 6px 0 #000000;
  -moz-box-shadow: 1px 1px 6px 0 #000000;
  box-shadow: 1px 1px 6px 0 #000000;
  text-shadow: 1px 1px 6px #000000;
  border: solid #762C2C 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;

}